<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style>
        body {
          background-image: url('../static/img/fundo1.jpg');
        }
        p {
            background-image: url('../static/img/fontbg.jpg');
            font-family:'JetBrains Mono';
            font-size: large;
            color: navy;
        }
        h1 {
            background-color: black;
        }
        </style>
</head>
<body bgcolor="#ffe4b5">
    <center>
        <img src="../static/img/img2.jpg" style="width:600px;height:350px;"/>
        <h1><font color="white">Blog sobre Spec-Ops</font></h1>
        <br/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque augue a mauris facilisis feugiat. Nullam dignissim mauris vitae orci lobortis eleifend. Duis nunc orci, hendrerit ac accumsan eu, pellentesque quis odio. Morbi ornare suscipit turpis eu eleifend. Duis consectetur ornare sollicitudin. Suspendisse fermentum vel nulla non auctor. Curabitur nec mi in nisi mattis viverra. Pellentesque imperdiet tincidunt rhoncus. Cras porttitor lobortis malesuada. Proin massa nunc, lacinia id feugiat imperdiet, elementum et nunc. Pellentesque arcu nulla, fringilla id pretium sit amet, finibus non urna. Donec id elit id leo efficitur convallis commodo vitae mauris. Ut dictum commodo erat, id vestibulum nibh molestie porttitor. Sed tincidunt ipsum velit, in gravida dolor eleifend non. Donec facilisis purus eget augue laoreet, ut ornare nibh volutpat. Aenean tellus nunc, congue sed gravida id, ultrices quis ipsum.
        </p>
        <br/>
        <p>Donec a sagittis neque. Sed consectetur in turpis id laoreet. Nam pretium dignissim nulla. Vestibulum aliquet volutpat justo mattis sagittis. Sed sem leo, ultricies et ligula a, efficitur rhoncus turpis. Donec diam augue, scelerisque non nisi eu, dapibus porttitor ligula. Suspendisse suscipit sem lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices tortor ut euismod efficitur. Quisque volutpat fermentum lorem non posuere. Aliquam iaculis neque id libero egestas, sit amet condimentum purus dapibus. Maecenas nunc dolor, egestas ac ullamcorper vitae, eleifend non nulla.</p>
    </center>
</body>
</html>