<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body bgcolor="#ffe4b5">
    <center>
        <img src="../static/img/img.jpg" style="width:700px;height:500px;"/>
        <h1><font color="#945900">Bem Vindo!!</font></h1>
        <br/>
        <ul>
            <h2>
                <li><a href="blog">Fale Conosco</a></li>
                <li><a href="contatos">Fale Conosco</a></li>
                <li><a href="torcedor">Seja Sócio Torcedor</a></li>
            </h3>
    </center>
    <br/>
    <ul>
        <h3>
            <li><a href="blog">Fale Conosco</a></li>
            <li><a href="torcedor">Seja Sócio Torcedor</a></li>
            <li><a href="contatos">Fale Conosco</a></li>
        </h3>

    </ul>
</body>
</html>