<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socio Torcedor</title>

    <style>
        body {
          background-color: black;
        }
        button {
            height: 40pt;
            width:  100pt;
        }
        </style>
</head>
<body>
    <center>
        <img src="../static/img/v.png"/>
        <br/>
        <p><img src="../static/img/seta1.gif"><button method="POST" href="https://sociogigante.com/?gad_source=1&gclid=Cj0KCQjwzYLABhD4ARIsALySuCTiB2JLgg7z3KyQhZZU0U2e3ners0fbrGBWMW8A9JEW0XvOLa2kptgaAiDREALw_wcB">CLIQUE AQUI !!</button><img src="../static/img/seta2.gif"></p>
    </center>

</body>
</html>